.elementor-267 .elementor-element.elementor-element-eb7f502 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --overflow: hidden;
  --padding-top: 128px;
  --padding-bottom: 48px;
  --padding-left: 40px;
  --padding-right: 40px;
}
.elementor-267
  .elementor-element.elementor-element-eb7f502:not(.elementor-motion-effects-element-type-background),
.elementor-267
  .elementor-element.elementor-element-eb7f502
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-4d2e92d);
}
.elementor-267 .elementor-element.elementor-element-31987d4 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 68px 68px;
  --row-gap: 68px;
  --column-gap: 68px;
  --margin-top: 0px;
  --margin-bottom: -24px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
  --z-index: 0;
}
body:not(.rtl) .elementor-267 .elementor-element.elementor-element-860b3ab {
  left: 388px;
}
body.rtl .elementor-267 .elementor-element.elementor-element-860b3ab {
  right: 388px;
}
.elementor-267 .elementor-element.elementor-element-860b3ab {
  bottom: 12px;
  z-index: -1;
}
.elementor-267 .elementor-element.elementor-element-860b3ab img {
  width: 91px;
}
.elementor-267 .elementor-element.elementor-element-23ff052 {
  --display: flex;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-267 .elementor-element.elementor-element-f3c976a {
  width: var(--container-widget-width, 366px);
  max-width: 366px;
  margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 48px) 0px;
  --container-widget-width: 366px;
  --container-widget-flex-grow: 0;
}
.elementor-267
  .elementor-element.elementor-element-f3c976a
  .elementor-heading-title {
  font-size: 64px;
  line-height: 72px;
  color: var(--e-global-color-secondary);
}
.elementor-267
  .elementor-element.elementor-element-794c9f5
  .elementor-heading-title {
  font-size: 18px;
  line-height: 26px;
  color: var(--e-global-color-secondary);
}
.elementor-267 .elementor-element.elementor-element-f0eb48f {
  width: var(--container-widget-width, 366px);
  max-width: 366px;
  margin: 14px 0px calc(var(--kit-widget-spacing, 0px) + 24px) 0px;
  --container-widget-width: 366px;
  --container-widget-flex-grow: 0;
}
.elementor-267
  .elementor-element.elementor-element-f0eb48f
  .elementor-heading-title {
  font-size: 36px;
  line-height: 44px;
  color: var(--e-global-color-secondary);
}
.elementor-267 .elementor-element.elementor-element-cacec88 .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  line-height: 24px;
  border-radius: 0px 0px 0px 0px;
  padding: 12px 18px 12px 18px;
}
.elementor-267
  .elementor-element.elementor-element-cacec88
  .elementor-button:hover,
.elementor-267
  .elementor-element.elementor-element-cacec88
  .elementor-button:focus {
  background-color: #f8ce68;
  color: var(--e-global-color-primary);
}
.elementor-267 .elementor-element.elementor-element-cacec88 {
  margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
}
.elementor-267
  .elementor-element.elementor-element-cacec88
  .elementor-button-content-wrapper {
  flex-direction: row-reverse;
}
.elementor-267
  .elementor-element.elementor-element-cacec88
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 8px;
}
.elementor-267
  .elementor-element.elementor-element-cacec88
  .elementor-button:hover
  svg,
.elementor-267
  .elementor-element.elementor-element-cacec88
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-267 .elementor-element.elementor-element-99d26f4 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-267 .elementor-element.elementor-element-5f70f01 {
  --e-transform-rotateZ: -22deg;
  margin: 66px -212px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
}
.elementor-267 .elementor-element.elementor-element-5f70f01 img {
  width: 327px;
  height: 389px;
}
.elementor-267 .elementor-element.elementor-element-cb65281 {
  z-index: 1;
}
.elementor-267 .elementor-element.elementor-element-cb65281 img {
  width: 363px;
  height: 503px;
}
.elementor-267 .elementor-element.elementor-element-5908d39 {
  --e-transform-rotateZ: 16deg;
  margin: 66px 0px calc(var(--kit-widget-spacing, 0px) + 0px) -225px;
}
.elementor-267 .elementor-element.elementor-element-5908d39 img {
  width: 327px;
  height: 389px;
}
.elementor-267 .elementor-element.elementor-element-0f23553 {
  --display: flex;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 104px;
  --padding-bottom: 0px;
  --padding-left: 48px;
  --padding-right: 48px;
  --z-index: 1;
}
.elementor-267
  .elementor-element.elementor-element-0f23553:not(.elementor-motion-effects-element-type-background),
.elementor-267
  .elementor-element.elementor-element-0f23553
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1a183a;
}
.elementor-267 .elementor-element.elementor-element-14918c8 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --margin-top: 0px;
  --margin-bottom: 103px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-267 .elementor-element.elementor-element-c2f2fbb {
  --display: flex;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-267 .elementor-element.elementor-element-df8a001 img {
  width: 124px;
}
.elementor-267 .elementor-element.elementor-element-2a770c6 {
  --display: flex;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(20px / 2);
}
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(20px / 2);
}
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(20px / 2);
}
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-20px / 2);
}
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-20px / 2);
}
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-267 .elementor-element.elementor-element-fa60101 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-item
  > a {
  font-family: "Inter", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-text {
  color: #ffffffb3;
  transition: color 0.3s;
}
.elementor-267
  .elementor-element.elementor-element-fa60101
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-accent);
}
.elementor-267 .elementor-element.elementor-element-9a06789 {
  --display: flex;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-267
  .elementor-element.elementor-element-53a41a6
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(20px / 2);
}
.elementor-267
  .elementor-element.elementor-element-53a41a6
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(20px / 2);
}
.elementor-267
  .elementor-element.elementor-element-53a41a6
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(20px / 2);
}
.elementor-267
  .elementor-element.elementor-element-53a41a6
  .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-20px / 2);
}
.elementor-267
  .elementor-element.elementor-element-53a41a6
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-20px / 2);
}
.elementor-267
  .elementor-element.elementor-element-53a41a6
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-267
  .elementor-element.elementor-element-53a41a6
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-267 .elementor-element.elementor-element-53a41a6 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-267
  .elementor-element.elementor-element-53a41a6
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-267
  .elementor-element.elementor-element-53a41a6
  .elementor-icon-list-item
  > a {
  font-family: "Inter", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.elementor-267
  .elementor-element.elementor-element-53a41a6
  .elementor-icon-list-text {
  color: #ffffffb3;
  transition: color 0.3s;
}
.elementor-267 .elementor-element.elementor-element-a9e646c {
  --display: flex;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-267
  .elementor-element.elementor-element-cb2a806
  .elementor-heading-title {
  font-size: 24px;
  line-height: 32px;
  color: #ffffffb3;
}
.elementor-267 .elementor-element.elementor-element-debebb7 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 0px 0px 0px;
  --border-top-width: 1px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #ffffff26;
  --border-color: #ffffff26;
  --padding-top: 36px;
  --padding-bottom: 36px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-267
  .elementor-element.elementor-element-01d7f22
  .elementor-heading-title {
  font-size: 14px;
  line-height: 22px;
  color: #ffffffb3;
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(48px / 2);
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(48px / 2);
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(48px / 2);
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-48px / 2);
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-48px / 2);
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-item:not(:last-child):after {
  content: "";
  border-color: #ddd;
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child):after {
  border-block-start-style: solid;
  border-block-start-width: 1px;
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-inline-start-style: solid;
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-inline-start-width: 1px;
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-267 .elementor-element.elementor-element-bf952ec {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-item
  > a {
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.elementor-267
  .elementor-element.elementor-element-bf952ec
  .elementor-icon-list-text {
  color: #ffffffb3;
  transition: color 0.3s;
}
.elementor-267
  .elementor-element.elementor-element-afe9142
  .elementor-icon-box-wrapper {
  align-items: center;
  gap: 8px;
}
.elementor-267
  .elementor-element.elementor-element-afe9142
  .elementor-icon-box-title {
  margin-block-end: 0px;
  color: #ffffffb3;
}
.elementor-267
  .elementor-element.elementor-element-afe9142.elementor-view-stacked
  .elementor-icon {
  background-color: #02010100;
}
.elementor-267
  .elementor-element.elementor-element-afe9142.elementor-view-framed
  .elementor-icon,
.elementor-267
  .elementor-element.elementor-element-afe9142.elementor-view-default
  .elementor-icon {
  fill: #02010100;
  color: #02010100;
  border-color: #02010100;
}
.elementor-267 .elementor-element.elementor-element-afe9142 .elementor-icon {
  font-size: 16px;
}
.elementor-267
  .elementor-element.elementor-element-afe9142
  .elementor-icon-box-title,
.elementor-267
  .elementor-element.elementor-element-afe9142
  .elementor-icon-box-title
  a {
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.elementor-267 .elementor-element.elementor-element-5c7af73 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
@media (min-width: 768px) {
  .elementor-267 .elementor-element.elementor-element-eb7f502 {
    --content-width: 1240px;
  }
  .elementor-267 .elementor-element.elementor-element-23ff052 {
    --width: 479px;
  }
  .elementor-267 .elementor-element.elementor-element-99d26f4 {
    --width: 688.28px;
  }
  .elementor-267 .elementor-element.elementor-element-c2f2fbb {
    --width: max-content;
  }
  .elementor-267 .elementor-element.elementor-element-2a770c6 {
    --width: 200px;
  }
  .elementor-267 .elementor-element.elementor-element-9a06789 {
    --width: 163px;
  }
  .elementor-267 .elementor-element.elementor-element-a9e646c {
    --width: 129px;
  }
}
@media (max-width: 1366px) and (min-width: 768px) {
  .elementor-267 .elementor-element.elementor-element-23ff052 {
    --width: 400px;
  }
}
@media (max-width: 1366px) {
  body:not(.rtl) .elementor-267 .elementor-element.elementor-element-860b3ab {
    left: 234px;
  }
  body.rtl .elementor-267 .elementor-element.elementor-element-860b3ab {
    right: 234px;
  }
  .elementor-267
    .elementor-element.elementor-element-f3c976a
    .elementor-heading-title {
    font-size: 53px;
  }
  .elementor-267 .elementor-element.elementor-element-5f70f01 img {
    width: 300px;
  }
  .elementor-267 .elementor-element.elementor-element-cb65281 img {
    width: 336px;
  }
  .elementor-267 .elementor-element.elementor-element-5908d39 img {
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .elementor-267 .elementor-element.elementor-element-eb7f502 {
    --padding-top: 80px;
    --padding-bottom: 48px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  body:not(.rtl) .elementor-267 .elementor-element.elementor-element-860b3ab {
    left: 234px;
  }
  body.rtl .elementor-267 .elementor-element.elementor-element-860b3ab {
    right: 234px;
  }
  .elementor-267 .elementor-element.elementor-element-f3c976a {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 28px) 0px;
  }
  .elementor-267
    .elementor-element.elementor-element-f3c976a
    .elementor-heading-title {
    font-size: 38px;
    line-height: 1.4em;
  }
  .elementor-267
    .elementor-element.elementor-element-f0eb48f
    .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-267 .elementor-element.elementor-element-5f70f01 img {
    width: 250px;
    height: 339px;
  }
  .elementor-267 .elementor-element.elementor-element-cb65281 img {
    width: 286px;
    height: 453px;
  }
  .elementor-267 .elementor-element.elementor-element-5908d39 img {
    width: 250px;
    height: 339px;
  }
  .elementor-267 .elementor-element.elementor-element-0f23553 {
    --padding-top: 80px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .elementor-267 .elementor-element.elementor-element-eb7f502 {
    --padding-top: 60px;
    --padding-bottom: 28px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-267 .elementor-element.elementor-element-31987d4 {
    --gap: 38px 38px;
    --row-gap: 38px;
    --column-gap: 38px;
  }
  body:not(.rtl) .elementor-267 .elementor-element.elementor-element-860b3ab {
    left: 69px;
  }
  body.rtl .elementor-267 .elementor-element.elementor-element-860b3ab {
    right: 69px;
  }
  .elementor-267 .elementor-element.elementor-element-23ff052 {
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-267 .elementor-element.elementor-element-f3c976a {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 28px) 0px;
    text-align: center;
  }
  .elementor-267
    .elementor-element.elementor-element-f3c976a
    .elementor-heading-title {
    font-size: 40px;
    line-height: 1.3em;
  }
  .elementor-267 .elementor-element.elementor-element-794c9f5 {
    text-align: center;
  }
  .elementor-267 .elementor-element.elementor-element-f0eb48f {
    text-align: center;
  }
  .elementor-267 .elementor-element.elementor-element-99d26f4 {
    --justify-content: center;
    --flex-wrap: nowrap;
  }
  .elementor-267 .elementor-element.elementor-element-5f70f01 img {
    height: 239px;
  }
  .elementor-267 .elementor-element.elementor-element-cb65281 img {
    height: 353px;
  }
  .elementor-267 .elementor-element.elementor-element-5908d39 img {
    height: 239px;
  }
  .elementor-267 .elementor-element.elementor-element-0f23553 {
    --padding-top: 60px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-267 .elementor-element.elementor-element-14918c8 {
    --gap: 50px 50px;
    --row-gap: 50px;
    --column-gap: 50px;
    --margin-top: 0px;
    --margin-bottom: 40px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-267 .elementor-element.elementor-element-df8a001 {
    text-align: start;
  }
  .elementor-267 .elementor-element.elementor-element-debebb7 {
    --justify-content: center;
    --gap: 30px 30px;
    --row-gap: 30px;
    --column-gap: 30px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-267
    .elementor-element.elementor-element-bf952ec
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(42px / 2);
  }
  .elementor-267
    .elementor-element.elementor-element-bf952ec
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(42px / 2);
  }
  .elementor-267
    .elementor-element.elementor-element-bf952ec
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-inline: calc(42px / 2);
  }
  .elementor-267
    .elementor-element.elementor-element-bf952ec
    .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-42px / 2);
  }
  .elementor-267
    .elementor-element.elementor-element-bf952ec
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    inset-inline-end: calc(-42px / 2);
  }
}
