<div
            class="elementor-element elementor-element-2f04263b e-flex e-con-boxed wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-parent"
            data-id="2f04263b" data-element_type="container" data-e-type="container"
            data-settings='{"background_background":"classic"}'>
            <div class="e-con-inner">
              <div
                class="elementor-element elementor-element-2e409de5 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                data-id="2e409de5" data-element_type="container" data-e-type="container">
                <div
                  class="elementor-element elementor-element-58a6fe57  elementor-widget elementor-widget-heading"
                  data-id="58a6fe57" data-element_type="widget" data-e-type="widget"
                  data-settings='{}' data-widget_type="heading.default">
                  <h6 class="elementor-heading-title elementor-size-default" style="font-size: 30px; font-weight: 700;">
                    Faq
                  </h6>
                </div>
                <div
                  class="elementor-element elementor-element-61f544a6  elementor-widget elementor-widget-heading"
                  data-id="61f544a6" data-element_type="widget" data-e-type="widget"
                  data-settings='{}' data-widget_type="heading.default">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Why Choose us
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-76b1621b e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no  e-con e-child"
                data-id="76b1621b" data-element_type="container" data-e-type="container"
                data-settings='{}'>
                <div
                  class="elementor-element elementor-element-5bb6aede e-con-full faq-box e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                  data-id="5bb6aede" data-element_type="container" data-e-type="container"
                  data-settings='{"background_background":"classic"}'>
                  <div
                    class="elementor-element elementor-element-2b292172 elementor-widget__width-initial elementor-widget elementor-widget-icon-box"
                    data-id="2b292172" data-element_type="widget" data-e-type="widget"
                    data-widget_type="icon-box.default">
                    <div class="elementor-icon-box-wrapper">
                      <div class="elementor-icon-box-content">
                        <div class="elementor-icon-box-title">
                          <span> Getting Started Guide </span>
                        </div>

                        <p class="elementor-icon-box-description">
                          Begin your project smoothly with our step-by-step
                          onboarding process.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-68344351 elementor-view-default elementor-widget elementor-widget-icon"
                    data-id="68344351" data-element_type="widget" data-e-type="widget" data-widget_type="icon.default">
                    <div class="elementor-icon-wrapper">
                      <div class="elementor-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
                          <path
                            d="M54.0898 15.6055V33.6055H51.0898V36.6055H45.0898V39.6055H42.0898V45.6055H27.0898V36.6055H30.0898V33.6055H33.0898V30.6055H39.0898V27.6055H42.0898V21.6055H39.0898V18.6055H33.0898V21.6055H30.0898V24.6055H27.0898V27.6055H24.0898V24.6055H21.0898V21.6055H18.0898V18.6055H15.0898V15.6055H18.0898V12.6055H21.0898V9.60547H27.0898V6.60547H45.0898V9.60547H48.0898V12.6055H51.0898V15.6055H54.0898ZM39.0898 54.6055H42.0898V63.6055H39.0898V66.6055H30.0898V63.6055H27.0898V54.6055H30.0898V51.6055H39.0898V54.6055Z"
                            fill="#D9D9D9"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-64ffd7d7 elementor-widget__width-initial elementor-absolute wiggle elementor-widget elementor-widget-heading"
                    data-id="64ffd7d7" data-element_type="widget" data-e-type="widget"
                    data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
                    <h6 class="elementor-heading-title elementor-size-default">
                      1
                    </h6>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-2078cfbf e-con-full faq-box e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                  data-id="2078cfbf" data-element_type="container" data-e-type="container"
                  data-settings='{"background_background":"classic"}'>
                  <div
                    class="elementor-element elementor-element-3d52c682 elementor-widget__width-initial elementor-widget elementor-widget-icon-box"
                    data-id="3d52c682" data-element_type="widget" data-e-type="widget"
                    data-widget_type="icon-box.default">
                    <div class="elementor-icon-box-wrapper">
                      <div class="elementor-icon-box-content">
                        <div class="elementor-icon-box-title">
                          <span> SEO Basics Included </span>
                        </div>

                        <p class="elementor-icon-box-description">
                          We optimize your landing page for search engines to
                          boost online visibility.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-3cc2745d elementor-view-default elementor-widget elementor-widget-icon"
                    data-id="3cc2745d" data-element_type="widget" data-e-type="widget" data-widget_type="icon.default">
                    <div class="elementor-icon-wrapper">
                      <div class="elementor-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
                          <path
                            d="M54.0898 15.6055V33.6055H51.0898V36.6055H45.0898V39.6055H42.0898V45.6055H27.0898V36.6055H30.0898V33.6055H33.0898V30.6055H39.0898V27.6055H42.0898V21.6055H39.0898V18.6055H33.0898V21.6055H30.0898V24.6055H27.0898V27.6055H24.0898V24.6055H21.0898V21.6055H18.0898V18.6055H15.0898V15.6055H18.0898V12.6055H21.0898V9.60547H27.0898V6.60547H45.0898V9.60547H48.0898V12.6055H51.0898V15.6055H54.0898ZM39.0898 54.6055H42.0898V63.6055H39.0898V66.6055H30.0898V63.6055H27.0898V54.6055H30.0898V51.6055H39.0898V54.6055Z"
                            fill="#D9D9D9"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-26e86db6 elementor-widget__width-initial elementor-absolute wiggle elementor-widget elementor-widget-heading"
                    data-id="26e86db6" data-element_type="widget" data-e-type="widget"
                    data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
                    <h6 class="elementor-heading-title elementor-size-default">
                      2
                    </h6>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-737d45d e-con-full faq-box e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                  data-id="737d45d" data-element_type="container" data-e-type="container"
                  data-settings='{"background_background":"classic"}'>
                  <div
                    class="elementor-element elementor-element-a0a106 elementor-widget__width-initial elementor-widget elementor-widget-icon-box"
                    data-id="a0a106" data-element_type="widget" data-e-type="widget"
                    data-widget_type="icon-box.default">
                    <div class="elementor-icon-box-wrapper">
                      <div class="elementor-icon-box-content">
                        <div class="elementor-icon-box-title">
                          <span> Pricing and Packages </span>
                        </div>

                        <p class="elementor-icon-box-description">
                          Flexible plans tailored to your needs, with
                          transparent pricing and no hidden fees.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-52e7128 elementor-view-default elementor-widget elementor-widget-icon"
                    data-id="52e7128" data-element_type="widget" data-e-type="widget" data-widget_type="icon.default">
                    <div class="elementor-icon-wrapper">
                      <div class="elementor-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
                          <path
                            d="M54.0898 15.6055V33.6055H51.0898V36.6055H45.0898V39.6055H42.0898V45.6055H27.0898V36.6055H30.0898V33.6055H33.0898V30.6055H39.0898V27.6055H42.0898V21.6055H39.0898V18.6055H33.0898V21.6055H30.0898V24.6055H27.0898V27.6055H24.0898V24.6055H21.0898V21.6055H18.0898V18.6055H15.0898V15.6055H18.0898V12.6055H21.0898V9.60547H27.0898V6.60547H45.0898V9.60547H48.0898V12.6055H51.0898V15.6055H54.0898ZM39.0898 54.6055H42.0898V63.6055H39.0898V66.6055H30.0898V63.6055H27.0898V54.6055H30.0898V51.6055H39.0898V54.6055Z"
                            fill="#D9D9D9"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-47839f6f elementor-widget__width-initial elementor-absolute wiggle elementor-widget elementor-widget-heading"
                    data-id="47839f6f" data-element_type="widget" data-e-type="widget"
                    data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
                    <h6 class="elementor-heading-title elementor-size-default">
                      3
                    </h6>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-64ccda6c e-con-full faq-box e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                  data-id="64ccda6c" data-element_type="container" data-e-type="container"
                  data-settings='{"background_background":"classic"}'>
                  <div
                    class="elementor-element elementor-element-13771b54 elementor-widget__width-initial elementor-widget elementor-widget-icon-box"
                    data-id="13771b54" data-element_type="widget" data-e-type="widget"
                    data-widget_type="icon-box.default">
                    <div class="elementor-icon-box-wrapper">
                      <div class="elementor-icon-box-content">
                        <div class="elementor-icon-box-title">
                          <span> Support After Launch </span>
                        </div>

                        <p class="elementor-icon-box-description">
                          Ongoing support to ensure your website runs smoothly
                          and successfully.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-1f1670f4 elementor-view-default elementor-widget elementor-widget-icon"
                    data-id="1f1670f4" data-element_type="widget" data-e-type="widget" data-widget_type="icon.default">
                    <div class="elementor-icon-wrapper">
                      <div class="elementor-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
                          <path
                            d="M54.0898 15.6055V33.6055H51.0898V36.6055H45.0898V39.6055H42.0898V45.6055H27.0898V36.6055H30.0898V33.6055H33.0898V30.6055H39.0898V27.6055H42.0898V21.6055H39.0898V18.6055H33.0898V21.6055H30.0898V24.6055H27.0898V27.6055H24.0898V24.6055H21.0898V21.6055H18.0898V18.6055H15.0898V15.6055H18.0898V12.6055H21.0898V9.60547H27.0898V6.60547H45.0898V9.60547H48.0898V12.6055H51.0898V15.6055H54.0898ZM39.0898 54.6055H42.0898V63.6055H39.0898V66.6055H30.0898V63.6055H27.0898V54.6055H30.0898V51.6055H39.0898V54.6055Z"
                            fill="#D9D9D9"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-104394f0 elementor-widget__width-initial elementor-absolute wiggle elementor-widget elementor-widget-heading"
                    data-id="104394f0" data-element_type="widget" data-e-type="widget"
                    data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
                    <h6 class="elementor-heading-title elementor-size-default">
                      4
                    </h6>
                  </div>
                </div>
                                <div
                  class="elementor-element elementor-element-737d45d e-con-full faq-box e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                  data-id="737d45d" data-element_type="container" data-e-type="container"
                  data-settings='{"background_background":"classic"}'
                  style="position: relative !important;">
                  <div
                    class="elementor-element elementor-element-a0a106 elementor-widget__width-initial elementor-widget elementor-widget-icon-box"
                    data-id="a0a106" data-element_type="widget" data-e-type="widget"
                    data-widget_type="icon-box.default">
                    <div class="elementor-icon-box-wrapper">
                      <div class="elementor-icon-box-content">
                        <div class="elementor-icon-box-title">
                          <span> Design Process Overview </span>
                        </div>

                        <p class="elementor-icon-box-description">
                          From research to launch, we craft seamless, user-focused designs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-52e7128 elementor-view-default elementor-widget elementor-widget-icon"
                    data-id="52e7128" data-element_type="widget" data-e-type="widget" data-widget_type="icon.default">
                    <div class="elementor-icon-wrapper">
                      <div class="elementor-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
                          <path
                            d="M54.0898 15.6055V33.6055H51.0898V36.6055H45.0898V39.6055H42.0898V45.6055H27.0898V36.6055H30.0898V33.6055H33.0898V30.6055H39.0898V27.6055H42.0898V21.6055H39.0898V18.6055H33.0898V21.6055H30.0898V24.6055H27.0898V27.6055H24.0898V24.6055H21.0898V21.6055H18.0898V18.6055H15.0898V15.6055H18.0898V12.6055H21.0898V9.60547H27.0898V6.60547H45.0898V9.60547H48.0898V12.6055H51.0898V15.6055H54.0898ZM39.0898 54.6055H42.0898V63.6055H39.0898V66.6055H30.0898V63.6055H27.0898V54.6055H30.0898V51.6055H39.0898V54.6055Z"
                            fill="#D9D9D9"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-47839f6f elementor-widget__width-initial elementor-absolute wiggle elementor-widget elementor-widget-heading"
                    data-id="47839f6f" data-element_type="widget" data-e-type="widget"
                    data-settings='{"_position":"absolute"}' data-widget_type="heading.default"
                    style="position: absolute !important; left: -24px !important; top: -24px !important; z-index: 9999 !important; display: flex !important; align-items: center !important; justify-content: center !important; background-color: #ff5e14 !important; border-radius: 50% !important; width: 48px !important; height: 48px !important; padding: 0 !important; margin: 0 !important; box-sizing: border-box !important;">
                    <h6 class="elementor-heading-title elementor-size-default">
                      5
                    </h6>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-64ccda6c e-con-full faq-box e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                  data-id="64ccda6c" data-element_type="container" data-e-type="container"
                  data-settings='{"background_background":"classic"}'
                  style="position: relative !important;">
                  <div
                    class="elementor-element elementor-element-13771b54 elementor-widget__width-initial elementor-widget elementor-widget-icon-box"
                    data-id="13771b54" data-element_type="widget" data-e-type="widget"
                    data-widget_type="icon-box.default">
                    <div class="elementor-icon-box-wrapper">
                      <div class="elementor-icon-box-content">
                        <div class="elementor-icon-box-title">
                          <span> Platform Compatibility Info </span>
                        </div>

                        <p class="elementor-icon-box-description">
                          Works seamlessly across all devices, browsers, & major platforms effortlessly.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-1f1670f4 elementor-view-default elementor-widget elementor-widget-icon"
                    data-id="1f1670f4" data-element_type="widget" data-e-type="widget" data-widget_type="icon.default">
                    <div class="elementor-icon-wrapper">
                      <div class="elementor-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
                          <path
                            d="M54.0898 15.6055V33.6055H51.0898V36.6055H45.0898V39.6055H42.0898V45.6055H27.0898V36.6055H30.0898V33.6055H33.0898V30.6055H39.0898V27.6055H42.0898V21.6055H39.0898V18.6055H33.0898V21.6055H30.0898V24.6055H27.0898V27.6055H24.0898V24.6055H21.0898V21.6055H18.0898V18.6055H15.0898V15.6055H18.0898V12.6055H21.0898V9.60547H27.0898V6.60547H45.0898V9.60547H48.0898V12.6055H51.0898V15.6055H54.0898ZM39.0898 54.6055H42.0898V63.6055H39.0898V66.6055H30.0898V63.6055H27.0898V54.6055H30.0898V51.6055H39.0898V54.6055Z"
                            fill="#D9D9D9"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-104394f0 elementor-widget__width-initial elementor-absolute wiggle elementor-widget elementor-widget-heading"
                    data-id="104394f0" data-element_type="widget" data-e-type="widget"
                    data-settings='{"_position":"absolute"}' data-widget_type="heading.default"
                    style="position: absolute !important; left: -24px !important; top: -24px !important; z-index: 9999 !important; display: flex !important; align-items: center !important; justify-content: center !important; background-color: #ff5e14 !important; border-radius: 50% !important; width: 48px !important; height: 48px !important; padding: 0 !important; margin: 0 !important; box-sizing: border-box !important;">
                    <h6 class="elementor-heading-title elementor-size-default">
                      6
                    </h6>
                  </div>
                </div>
                <!-- <div class="elementor-element elementor-element-5afe536c e-con-full faq-box e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                  data-id="5afe536c" data-element_type="container" data-e-type="container"
                  data-settings='{"background_background":"classic"}'>
                  <div
                    class="elementor-element elementor-element-3acc13c6 elementor-widget__width-initial elementor-widget elementor-widget-icon-box"
                    data-id="3acc13c6" data-element_type="widget" data-e-type="widget"
                    data-widget_type="icon-box.default">
                    <div class="elementor-icon-box-wrapper">
                      <div class="elementor-icon-box-content">
                        <div class="elementor-icon-box-title">
                          <span> Design Process Overview </span>
                        </div>

                        <p class="elementor-icon-box-description">
                          From research to launch, we craft seamless,
                          user-focused designs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-5a81ff84 elementor-view-default elementor-widget elementor-widget-icon"
                    data-id="5a81ff84" data-element_type="widget" data-e-type="widget" data-widget_type="icon.default">
                    <div class="elementor-icon-wrapper">
                      <div class="elementor-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
                          <path
                            d="M54.0898 15.6055V33.6055H51.0898V36.6055H45.0898V39.6055H42.0898V45.6055H27.0898V36.6055H30.0898V33.6055H33.0898V30.6055H39.0898V27.6055H42.0898V21.6055H39.0898V18.6055H33.0898V21.6055H30.0898V24.6055H27.0898V27.6055H24.0898V24.6055H21.0898V21.6055H18.0898V18.6055H15.0898V15.6055H18.0898V12.6055H21.0898V9.60547H27.0898V6.60547H45.0898V9.60547H48.0898V12.6055H51.0898V15.6055H54.0898ZM39.0898 54.6055H42.0898V63.6055H39.0898V66.6055H30.0898V63.6055H27.0898V54.6055H30.0898V51.6055H39.0898V54.6055Z"
                            fill="#D9D9D9"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-3a0debbc elementor-widget__width-initial elementor-absolute wiggle elementor-widget elementor-widget-heading"
                    data-id="3a0debbc" data-element_type="widget" data-e-type="widget"
                    data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
                    <h6 class="elementor-heading-title elementor-size-default">
                      5
                    </h6>
                  </div>
                </div> -->
                <!-- <div class="elementor-element elementor-element-5d2d2964 e-con-full faq-box e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                  data-id="5d2d2964" data-element_type="container" data-e-type="container"
                  data-settings='{"background_background":"classic"}'>
                  <div
                    class="elementor-element elementor-element-641e597c elementor-widget__width-initial elementor-widget elementor-widget-icon-box"
                    data-id="641e597c" data-element_type="widget" data-e-type="widget"
                    data-widget_type="icon-box.default">
                    <div class="elementor-icon-box-wrapper">
                      <div class="elementor-icon-box-content">
                        <div class="elementor-icon-box-title">
                          <span> Platform Compatibility Info </span>
                        </div>

                        <p class="elementor-icon-box-description">
                          Works seamlessly across all devices, browsers, &amp;
                          major platforms effortlessly.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-76e30abb elementor-view-default elementor-widget elementor-widget-icon"
                    data-id="76e30abb" data-element_type="widget" data-e-type="widget" data-widget_type="icon.default">
                    <div class="elementor-icon-wrapper">
                      <div class="elementor-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
                          <path
                            d="M54.0898 15.6055V33.6055H51.0898V36.6055H45.0898V39.6055H42.0898V45.6055H27.0898V36.6055H30.0898V33.6055H33.0898V30.6055H39.0898V27.6055H42.0898V21.6055H39.0898V18.6055H33.0898V21.6055H30.0898V24.6055H27.0898V27.6055H24.0898V24.6055H21.0898V21.6055H18.0898V18.6055H15.0898V15.6055H18.0898V12.6055H21.0898V9.60547H27.0898V6.60547H45.0898V9.60547H48.0898V12.6055H51.0898V15.6055H54.0898ZM39.0898 54.6055H42.0898V63.6055H39.0898V66.6055H30.0898V63.6055H27.0898V54.6055H30.0898V51.6055H39.0898V54.6055Z"
                            fill="#D9D9D9"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-5af535e5 elementor-widget__width-initial elementor-absolute wiggle elementor-widget elementor-widget-heading"
                    data-id="5af535e5" data-element_type="widget" data-e-type="widget"
                    data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
                    <h6 class="elementor-heading-title elementor-size-default">
                      6
                    </h6>
                  </div>
                </div> -->
              </div>
            </div>
          </div>